@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kia";
  src: url("../fonts/KiaSignatureOTFBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kia";
  src: url("../fonts/KiaSignatureOTFLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kia";
  src: url("../fonts/KiaSignatureOTFRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.transparency {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.14) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}
